@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 4px;
  border: 2px solid #ffffff;
}

.max-width {
  @apply mx-auto max-w-7xl w-full;
}

.center {
  @apply flex items-center justify-center;
}

.grid-container {
  @apply grid grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-4 lg:gap-4 xl:grid-cols-5 w-full;
}

.products-grid {
  @apply grid grid-cols-2 gap-2 sm:gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5;
}

.flex-row-center {
  @apply flex flex-row items-center;
}

.icons-wrapper {
  @apply bg-white border border-gallery-100 rounded-md cursor-pointer center transition focus:outline-none hover:shadow-md h-8 w-8 md:h-10 md:w-10;
}

.button-primary {
  @apply bg-blueviolet border border-blueviolet rounded-md flex flex-row items-center text-white text-xs sm:text-sm focus:outline-none transition hover:bg-blueviolet-700 hover:border-blueviolet-700 h-10;
}

.button-outline {
  @apply bg-white border border-gallery-200 rounded-md flex flex-row items-center text-xs sm:text-sm focus:outline-none transition hover:bg-gallery-100 h-10;
}

.button-loading {
  @apply bg-blueviolet rounded-md gap-2 px-8 text-white text-xs sm:text-sm animate-pulse h-10 w-full;
}

.button-primary-full-rounded {
  @apply bg-blueviolet border border-blueviolet rounded-full transition hover:bg-blueviolet-700 hover:border-blueviolet-700;
}

.search-input {
  @apply bg-white border-2 border-blueviolet rounded-md text-gray-900 focus:outline-none transition focus:shadow-md pl-4 h-10 w-full;
}

.input-primary {
  @apply bg-white border border-gallery-200 rounded-md text-gray-900 focus:outline-none transition focus:border-blueviolet focus:shadow-sm h-10 w-full;
}

.input-caution {
  @apply border border-red-400 rounded-md text-gray-900 focus:outline-none transition focus:shadow-sm h-10 w-full;
}

.nav-bar-buttons-container {
  @apply bg-white border-t border-gallery-200 fixed flex flex-row items-center justify-between bottom-0 left-0 h-16 w-full md:border-0 md:relative md:flex md:flex-row md:items-center md:gap-4 md:w-fit z-10;
}

.nav-button {
  @apply border-r border-gallery-200 center transition hover:text-blueviolet-700 h-16 w-full md:flex md:flex-col md:items-center md:justify-center md:hover:bg-white md:border-0 md:hover:text-blueviolet-700 md:px-2 md:h-10;
}

.footer-header {
  @apply text-lg font-bold;
}

.categories-grid {
  @apply flex flex-row gap-16 flex-wrap;
}

.nav-link {
  @apply transition hover:text-blueviolet-700 w-fit;
}

.info-holder {
  @apply border-b border-gallery-200 flex-row-center justify-between text-base h-10;
}

.thumbs .swiper-slide {
  opacity: 0.25;
}

.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-wrapper {
  justify-content: flex-start;
}

.product-container {
  @apply bg-white border border-gallery-100 rounded-md shadow-md flex flex-col gap-2 transition hover:shadow-blueviolet-200 pb-2 h-auto w-full;
}
